body {
	
}

.mainBoard {
	display: table;
	margin: auto;
	min-width: 480px;
	min-height: 480px;
	border: 1px solid black;
	border-collapse: collapse;
}
.boardRow {
	display: table-row;
}
.boardCell {
	height: 60px;
	width: 60px;
	display: table-cell;
	border: 1px solid black;
}
/*Раскраска доски*/
.boardRow:nth-child(odd) .boardCell:nth-child(even){
	background-color: grey;
}
.boardRow:nth-child(even) .boardCell:nth-child(odd){
	background-color: grey;
}
img {

	width: 60px;
	height: 60px;
}
